<%= link_to 'Home', root_path %> |
<%= link_to 'Refresh data', parser_unn_path %>

<div class="text-cent">
  <% @second_articles.each do |article| %>
    <h3><%= article.title %></h3>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= article.title.truncate(5) %>">
      Show
    </button>

    <div class="modal fade" id="<%= article.title.truncate(5) %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle"><%= article.title %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= article.body %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>
